.grid-container{
    display: grid;
    grid-template-rows: 200px 150px;
    
}

body {
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
}

header,footer {
    background-color: gray;
    color:burlywood;
    text-align: center;
    padding:1em;
    

}
nav{
    background-color: beige;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-align: center;
    display: grid;
    place-items: center;

}
nav ul{
    
    list-style-type: none;
    margin: 60;
    padding: 80;
    text-align: center;
    place-content: center;

}
nav li{
    list-style: none;
    display: inline-block;
    text-align: center;
    place-items: center;
}
nav a{
    display: block;
    color:burlywood;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    place-items: center;
}
nav a:hover{
    background-color: gray;
    color:lightblue;
    text-align: center;
}
main{
    padding: 4em;
    background-color: beige;
    


}
section{
    margin-bottom: 1.5em;

}
h2{
    text-align: center;
    padding: 12px 16px;
    background-color: lightblue;
}
h3{
    text-align: center;
    background-color: lightblue;
}
p{
    text-align: center;
}
img{
    width: 150px;
    height: auto;
    position:absolute;
    left: 50px;
    bottom: 710px;
}

