body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: 212121;
}

header {
    background-color: #FFFFFF;
    color: #212121;
    text-align: center;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hamburger{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;

}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

header span {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    background-color: #1E88E5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #212121;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #FFFFFF;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card ul li {
    margin-bottom: 10px;
    
}
.card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 48%;
}

footer {
    background-color: #1E88E5;
    color: #212121;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer img.flag {
    width: 35px;
    height: auto;
    vertical-align: middle;
    margin-left: 10px;
}

