@media only screen and (min-width: 960px) {
    picture img {
        width: 100%;
        height: auto;
    }
}


@media (min-width: 320px) {
    nav ul {
        display: flex;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 45%;
    }
}

@media only screen and (min-width: 38rem){
    #myButton{
        display: none;
    }
    ul.menuLinks,ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover{
        background-color: black;
    }
}